doctype html
html
	head
		title Event list
		link(rel="stylesheet", href="//aui-cdn.atlassian.com/aui-adg/5.8.15/css/aui.css", media="all")
		link(rel="stylesheet", href="//aui-cdn.atlassian.com/aui-adg/5.8.15/css/aui-experimental.css", media="all")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		script(src="//cdn.rawgit.com/jrburke/almond/0.3.0/almond.js")
		script(src="//aui-cdn.atlassian.com/aui-adg/5.8.15/js/aui.js")
		script(src="//aui-cdn.atlassian.com/aui-adg/5.8.15/js/aui-experimental.js")
		block static
	body
		div(class="content")
			block content