ol(id="event-list", class="event-list")
	if events.length
		each event in events
			li(class="event-item")
				div
					span(class="label") Name
					span(class="value")= event.name
				div
					span(class="label") Time
					span(class="value")= event.timePretty
				div
					span(class="label") Attendees
					ul(id="attendee-list", class="attendee-list value")
						each attendee in event.people
							li
								span(class="attendee")= attendee
				if event.invites && event.invites.length
					div
						span(class="label") Invites
						ul(id="attendee-list", class="attendee-list value")
							each invitee in event.invites
								li
									span(class="attendee")= invitee.user
				if event.remaining
					div
						span(class="label") Places
						span(class="value")= event.remaining + ' remaining'
	else
		li(class="no-event-placeholder") No upcoming events
