extends ./base.jade

block static
	link(rel="stylesheet", href="/static/list.css")
	script(src="/socket.io/socket.io.js")
	script(src="/static/list.js")
	meta(name="signed-token", content=token)
	meta(name="current-user-id", content=currentUserId)

block content
	div(id="sidebar-content", class="main")
		include ./list.jade
	div(class="create-form-container")
		form(id="create-form", class="aui top-label")
			div(id="aui-message-bar")
			div(class="field-group")
				label(for="name") Name
				input(type="text",class="text",name="name")
			div(class="field-group")
				label(for="time") Time
				input(type="text",class="text",name="time")
			div(class="field-group")
				label(for="places") No. places
				input(type="text",class="text",name="places")
			div(class="field-group",id="invites-field")
				label(for="invites") Invite
				input(class="text", disabled="disabled", value="Loading")
			div(class="buttons-container")
				div(class="buttons")
					button(class="aui-button aui-button-primary", type="submit") Create
					a(class="cancel") Back
	div(class="content-footer")
		button(class="aui-button aui-button-primary" id="create-event-button") Create 