/* Layout */
html {
	color: #222;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
body {
	padding-bottom: 5em;
}
html, body {
	height: auto;
}
.row {
	margin-bottom: 0.5em;
}
.row:after {
	content: '';
	display: table;
	clear: both;
}
.left, .right {
	box-sizing: border-box;
	position: relative;
	width: 49.9%;
}
.left {
	float: left;
	padding-right: 5px;
}
.right {
	float: right;
	padding-left: 5px;
}
@media screen and (max-width: 800px) {
	.left, .right {
		float: none;
		width: auto;
	}
}

/* Header */
header {
	background: #eee;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0.4em 0.8em;
}
header h2 {
	display: inline-block;
	margin: 0;
}
header input {
	float: right;
	font-size: large;
	margin-top: 0.3em;
}

/* Form */
input, select, button {
	background: white;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input {
	padding: 0.3em 0.5em;
}
button, input[type=submit] {
	background: #eee;
	border-color: #bbb;
	cursor: pointer;
}
button:hover {
	background: #ccc;
}
input[type=submit] {
	background: #5795c0;
	border-color: #2765A0;
	color: white;
	display: inline-block;
	font-size: 1em;
	margin-top: 1em;
	padding: 0.5em 1em;
}
input[type=submit]:hover {
	background: #2765A0;
}
label {
	cursor: pointer;
}
label:after {
	content: '\A';
	white-space: pre;
}
.saved {
	color: #6a6;
	display: inline-block;
	padding: 0.3em 1em;
}

/* Chart */
.chart-container {
	position: fixed;
	right: 0;
	left: 50%;
}
@media screen and (max-width: 800px) {
	.chart-container {
		position: static;
	}
}

/* Events */
.events li, p {
	padding: 0 10px;
}
.events {
	list-style: none;
	margin: 0;
	padding: 0;
}
.events li {
	border-top: 1px solid #ccc;
	padding: 0.5rem 0 0.5rem 15em;
	position: relative;
}
.events li:nth-child(even) {
	background: #eee;
}
.events h4 {
	margin: 0;
}
.events .date {
	font-size: 0.9em;

	position: absolute;
	left: 10px;
	top: 0.6rem;
}
.events .people {
	font-style: italic;
}

/* Footer */
footer {
	background: white;
	box-shadow: 0 20px 15px 20px rgba(0, 0, 0, 0.1);
	color: #444;
	font-size: 0.85em;
	padding: 0.5em 0;
	text-align: center;

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}