html {
	color: #222;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 33px;
	text-align: center;
}
h1 {
	font-size: 2.5rem;
	font-weight: 300;
}
h1 small {
	display: block;
	font-size: .5rem;
}
.instructions {
	counter-reset:instructions;
	margin: 0 auto;
	max-width: 18rem;
}
.instructions p:before {
	content: counter(instructions);
	counter-increment: instructions;
	color: #ddd;
	display: block;
	font-size: 2rem;
	font-weight: bold;
}
code {
	background: #eee;
	border: 0.1em solid #ddd;
	border-radius: 0.2em;
	padding: 0 0.2em;
}
footer {
	border-top: 1px solid #ddd;
	font-size: 0.5em;
	line-height: 1.6;
	margin-top: 1.5rem;
	padding: .5rem 0;
}