html, body {
	height: 100%;
	background: #fff;
}

.content {
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.main, .create-form {
	flex-grow: 1;
	-webkit-flex-grow: 1;
	overflow-y: auto;
}

.create-form-container,
.content.create .main,
.content.create .content-footer {
	display: none;
}

.content.create .create-form-container {
	display: block;
}

.create-form-container {
	padding: 10px;
}

.content-footer {
	border-top: 1px solid #ccc;
	padding: 10px 0;
	text-align: center;
}

.event-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.event-item {
	display: table;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	padding: 10px;
	margin: 0;
	width: 100%;
}

.event-item > div {
	display: table-row;
}

.event-item .label,
.event-item .value {
	display: table-cell;
}

.event-item .label {
	padding-right: 10px;
	font-weight: bold;
	width: 1px;
}

.attendee-list {
	list-style: none;
	padding: 0;
}

.attendee {
	padding: 5px 0;
	margin: 0;
}

.no-event-placeholder {
	text-align: center;
	padding: 10px;
}
