<!DOCTYPE html>
<html>
<head>
	<title>EventBot Archive</title>
	<meta name="viewport" content="width=device-width">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/config.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="/static/archive.js"></script>
</head>
<body>
	{% if room %}
		<div class="row">
			<div class="left">
				<header>
					<h2>Event Archive</h2>
					<input type="search" placeholder="Filter" name="filter">
				</header>
				<ul class="events">
					{% if !room.eventArchive.length %}
						<p>There are no events to display.</p>
					{% endif %}
					{% for event in room.eventArchive %}
						<li data-people="{% for person in event.people %}{{person}}{% if not loop.last %},{% endif %}{% endfor %}">
							<h4>{{event.name}}</h4>
							<div class="date">
								{{timeToString(event.time)}}
							</div>
							<div class="people">
								{% for person in event.people %}
									@{{person}}{% if not loop.last %}, {% endif %}
								{% endfor %}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="right">
				<div class="chart-container">
					<div class="chart"></div>
				</div>
			</div>
		</div>
	{% else %}
		<h2>Invalid archive page</h2>
		<p>Archive pages expire after {{archivePageExpiryMinutes}} minutes, so you may need to generate another.</p>
	{% endif %}
	<footer>
		Created by <a href="http://scripti.st" target="_blank">Scriptist</a> at <a href="http://atlassian.com" target="_blank">Atlassian</a>
		<br />
		Fork me on <a href="https://bitbucket.org/scriptist/eventbot/" target="_blank">Bitbucket</a>
	</footer>
</body>
</html>