<!DOCTYPE html>
<html>
<head>
	<title>EventBot</title>
	<meta name="viewport" content="width=device-width">

	<script src="https://www.hipchat.com/atlassian-connect/all.js"></script>
	<link rel="stylesheet" href="https://www.hipchat.com/atlassian-connect/all.css">
	<link rel="stylesheet" href="/static/config.css">

	<style>
		.notification.template {
			display: none;
		}
	</style>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
	<script src="/static/config.js"></script>
</head>
<body>
	<form action="" method="post">

		<div class="row">
			<div class="left">
				<header>
					<h3>Notification Times</h3>
				</header>
				{% for notification in room.notifications %}
					<div class="notification">
						<input type="number" name="number" value="{{notification.number}}">
						<select name="unit">
							{% for unit in ['seconds', 'minutes', 'hours', 'days'] %}
								<option value="{{unit}}" {% if unit == notification.unit %}selected{% endif %}>{{unit}}</option>
							{% endfor %}
						</select>
						<button type="button" class="remove">-</button>
					</div>
				{% endfor %}
				<div class="notification template">
					<input type="number" name="number" value="10" disabled>
					<select name="unit" disabled>
						{% for unit in ['seconds', 'minutes', 'hours', 'days'] %}
							<option value="{{unit}}" {% if unit == 'minutes' %}selected{% endif %}>{{unit}}</option>
						{% endfor %}
					</select>
					<button type="button" class="remove">-</button>
				</div>
				<button type="button" class="add">+</button>
			</div>
			<div class="right">
				<header>
					<h3>Plugins</h3>
				</header>
				{% for key, plugin in plugins %}
					<label>
						<input type="checkbox" name="plugins" value="{{key}}" {% if room.plugins && key in room.plugins %}checked{% endif %}> {{plugin.name}}
					</label>
				{% endfor %}
			</div>
		</div>

		<input type="submit" value="Save">
		{% if saved %}
			<div class="saved">Saved successfully.</div>
		{% endif %}
	</form>
	<footer>
		Created by <a href="http://scripti.st" target="_blank">Scriptist</a> at <a href="http://atlassian.com" target="_blank">Atlassian</a>
		<br />
		Fork me on <a href="https://bitbucket.org/scriptist/eventbot/" target="_blank">Bitbucket</a>
	</footer>
</body>
</html>